@model IEnumerable<SocialGatherKuznetsov.Models.Card>

@{
    ViewData["Title"] = "Главная";
}


<table class="table">
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <a href="#" class="categories-item categories-first">
                        <h3 class="categories-title">
                            <dd class="col-sm-10">
                                @{
                                    string name = "";
                                    if (item.Name.Length > 25)
                                        name = item.Name.Substring(0, 24) + "...";
                                    else
                                        name = item.Name;

                                }
                                @Html.Raw(name)
                            </dd>
                        </h3>
                        <p class="categories-text">
                            <dd class="col-sm-10">
                                @{
                                    string tname = "";
                                    if (item.Text.Length > 25)
                                        tname = item.Text.Substring(0, 24) + "...";
                                    else
                                        tname = item.Text;

                                }
                                @Html.Raw(tname)
                            </dd>
                        </p>
                        <p class="members">
                            @{
                                string num = string.Format("Уже идут: {0}/{1}", item.GuestsNumCurrent, item.GuestsNumMax);
                            }
                            @Html.Raw(num)
                        </p>
                        <p class="tags">
                            @Html.DisplayFor(modelItem => item.Tags)
                        </p>
                        <p class="date">
                            @Html.DisplayFor(modelItem => item.Date)
                        </p>
                        <p class="place">
                            @Html.DisplayFor(modelItem => item.Place)
                        </p>
                    </a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
        </tr>
        }
    </tbody>
  
