@model SocialGatherKuznetsov.Models.RegistreationData
@{
    ViewData["Title"] = "Мой профиль";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscribed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscribed)
        </dd>
    </dl>
</div>
<a asp-action="MyCards">Мои созданные карточки</a>
<a asp-action="MyCards2">Мои карточки с участием</a>


